<div class="footer mb-0">
    <div class="container">
        <div class="first">
            <h4>E-commerce\shop</h4>
            <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
            </p>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <ul class="list">
                <li>
                    Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy
                </li>
            </ul>
        </div>
        <div class="third">
            <h4>HAVE A QUESTION</h4>
            <p>
                203 Fake St. Cairo, EGYPT</p>
            <p>+2 010 998 441</p>
            <p>info@abeer.com
            </p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2019 All rights reserved | This application is made with by Abeer Omar</p>
    </div>
</div>